*{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

input[type="number"] {
    -moz-appearance: textfield;
}

body{
    margin: 0;

}
header{
    height: 100px;
    text-align: center;
}

h1{
    display: inline-block;
    background-color:rgb(228, 247, 255);
    background: linear-gradient(white,rgb(212, 237, 248));
}

section{
    margin-left: 30%;
    margin-top: 80px;
    border: 3px solid rgb(228, 247, 255);
    border-radius: 20px;
    width: 40%;
    text-align: center;
    padding-bottom: 40px;
    
}

h2{
    padding: 20px;
    font-size: 30px;
}

.form{
   margin-left: 50px;
   
}
.formulario{
    display: inline-block;
    width: 350px;
    height: 80px;
    text-align: left;

    
}

#num {
    display:inline-block
    
}
#botao{
    display: inline-block;
       
}
button{
    height: 55px;
    width: 140px;
    margin-left: 5px;
    border: 0px solid;
    border-radius: 30px;
    background: rgb(37, 120, 204);
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
    margin-left: 5px;
}

button:hover{
    height: 60px;
    width: 150px;
    margin-left: 5px;
    border: 0px solid;
    border-radius: 30px;
    background: rgb(5, 71, 137);
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
    margin-left: 15px;
}


#limpar{
   background:rgb(246, 246, 246);
   color: black;
   height: 50px;
   width: 140px;
}



input{
    width: 300px;
    height: 50px;
    border: 1px;
    border-radius: 10px;
    background-color: rgb(227, 235, 245);
    font-size: 30px;
    
}
label{
    font-size: 20px;
    margin-top: 2px;
}

.resultado{

    margin-left: 50px;
    font-size: 20px;
    text-align: left;
}

#result{
    font-size: 30px;
    text-align: left;
}

.comoCalcular{
    border: 3px solid rgb(228, 247, 255);
    margin-left: 30%;
    width: 40%;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 20px;
}
.comoCalcular h3{
    margin-left: 30px;
}

p{
    margin-left: 30px;
}

footer{
    background-color: rgb(228, 247, 255);
    height: 100px;
    margin-top:20px;
    text-align: center;
    padding-top: 10px;
}
